:root {
  --background-color: #fbfbfb;
  --secondary-background-color: #edeff0;
  --tertiary-background-color: #112b3c;

  --primary-font-color: black;
  --secondary-font-color: #190a37;
  --tertiary-font-color: #f5f3f3;

  --section-break-color: #1363df;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-font-color);
}

h2 {
  color: var(--secondary-font-color);
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

a:link {
  color: var(--primary-font-color);
  text-decoration: none;
}

a:visited {
  color: var(--primary-font-color);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.article-break {
  border: none;
  border-bottom: 2px var(--section-break-color) dashed;
  width: 30%;
}

/* Summary Page */

.summary-page {
  text-align: center;
  padding: 15%;
}

.profile-img {
  border-radius: 100%;
  width: 65%;
  margin: 20px 0;
}

.title-name {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  color: #06283d;
  animation: name-color 8s linear infinite;
}

@keyframes name-color {
  0% {
    color: #06283d;
  }
  25% {
    color: #66bfbf;
  }
  50% {
    color: #647e68;
  }
  75% {
    color: #553939;
  }
  100% {
    color: #5f6f94;
  }
}

.title-introduction {
  margin: 15px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.title-dream {
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
}

.link-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-icons {
  gap: 15px;
  padding: 0;
}

.social-icons li {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link i {
  font-size: 0.7rem;
}

.title-separator {
  border: none;
  border-top: 3px solid var(--primary-font-color);
  margin: 0;
  width: 230px;
  text-align: center;
}

.navigation {
  padding: 0;
  gap: 20px;
  font-size: 0.8rem;
}

/* Skills Article */

.skill-section {
  background-color: var(--secondary-background-color);
  padding: 10% 5%;
}

.technology-stack {
  background-color: var(--tertiary-background-color);
  color: var(--tertiary-font-color);
  padding: 5%;
  border-radius: 5px;
}

.information-title {
  color: var(--tertiary-font-color);
  margin: 0;
  font-weight: 400;
  font-size: 1.9rem;
}
